<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Form</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            .pager {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Guardians of the Build Galaxy</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="/charts">Charts</a></li>
                    <li class="active"><a href="/form">Form</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>

        <div class="container-fluid">
            <div class="jumbotron">
                <h1 style="text-align:center;">Form</h1>
            </div>
            <form action="#" th:action="@{/form}" th:object="${tableEntry}" method="post">
                <p>Name: <input type="text" th:field="*{name}" /></p>
                <p>Url: <input type="text" th:field="*{url}" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
            <br>
            <br>
            <br>
            <br>

            <div>
                <p th:text="'name: ' + ${tableEntry.name}" />
                <p th:text="'url: ' + ${tableEntry.url}" />
                <a href="/form">Submit another message</a>
            </div>
        </div>

        <ul class="pager">
            <li class="previous"><a href="/charts">Previous</a></li>
            <li class="next"><a href="/">Next</a></li>
        </ul>
    </body>
</html>